.hand-cards-display-block {

}

.hand-cards-display-block.ui.grid {
  margin: 0.5em 0.5em;
}

.hand-cards-display-block .hand-cards-display-cell {

}

.hand-cards-display-block .hand-cards-display-cell .id-cell {
  font-size: 1.2rem;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.hand-cards-display-block .hand-cards-display-cell .card-cell {
  height: 80px;
  vertical-align: middle;
}

.hand-cards-display-block .hand-cards-display-cell .card-cell .card-cell-content {
  font-size: 1.2rem;
  font-family: "Lucida Console", Monaco, monospace;
  text-align: left;
  width: fit-content;
  margin: auto;
}
