.bid-sequence-display {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}

.bid-sequence-display .seat-row, .bid-sequence-display .display-bid-row {
  height: 52px
}

.bid-sequence-display .bid-sequence-display-cell {
  display: inline-block;
  text-align: center;
  width: 75px;
  min-width: 75px;
  margin: 1px 2px !important;
}

.bid-sequence-display .seat-row .seat-cell {
  border: 1px;
  border-style: solid;
}

.bid-sequence-display .bid-cell.empty-cell {
  visibility: hidden;
}
