.bid-sequence-display {
  display: inline-block;
  width: 50%;
  vertical-align: top;
}

.bid-sequence-display .bid-sequence-display-cell {
  display: table-cell;
  width: 75px;
}

.bid-sequence-display .seat-row .seat-cell.vulnerable-seat-cell {
  background-color: #ff0000;
}
