.bid-sequence-display {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  margin: 0px 15px;
}

.bid-sequence-display .bid-sequence-display-cell {
  display: inline-block;
  text-align: center;
  width: 75px;
  min-width: 75px;
  margin: 1px 2px !important;
  padding: .5em 1em;
}

.bid-sequence-display .seat-row .seat-cell {
  border: 1px;
  border-style: solid;
}

.bid-sequence-display .bid-cell.empty-cell {
  visibility: hidden;
}

.bid-sequence-display .bid-cell.PASS-cell {
  border: 2px solid #21ba45;
  color: #21ba45;
}

.bid-sequence-display .bid-cell.DOUBLE-cell {
  border: 2px solid #db2828;
  color: #db2828;
}

.bid-sequence-display .bid-cell.REDOUBLE-cell {
  border: 2px solid #2185d0;
  color: #2185d0;
}
