.room-interface .display-none {
  visibility: hidden;
}

.room-interface .room-main-block {

}

.room-interface .room-main-block .main-upper-block {
  max-width: 900px;
  min-width: 450px;
  margin: auto;
}

.room-interface .room-main-block .main-lower-block {

}

.room-interface .room-main-block .main-lower-block .empty-div {
  display: inline-block;
  width: 350px;
  margin: 0px 15px;
}
