.room-interface .upper-block {
  max-width: 900px;
  min-width: 450px;
  margin: auto;
}

.room-interface .middle-block .bid-button-block-dimmer {
  display: inline-block;
  /* TODO: responsive design */
  width: 350px;
  margin: 0px 15px;
  vertical-align: top;
}
